.profile__button-pen {
  background-color: #000000;
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin: 16px 0 auto 0;
  padding: 0;
  border: solid 1px;
  border-color: #ffffff;
  cursor: pointer;
}

.profile__button-pen:hover {
  opacity: 0.6;
}

@media screen and (max-width: 460px) {
  .profile__button-pen {
    margin: 0;
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
}