.register__input {
    color: #CCCCCC;
    max-width: 358px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 9px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: rgb(0,0,0);
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    
  }
  
  @media screen and (max-width: 760px) {
    .register__input {
      max-width: 258px;
    }
  }
  