.popup__button {
  width: 358px;
  height: 50px;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 30px;
}

.popup__button :hover {
  opacity: 0.8;
}

@media screen and (max-width:960px) {
  .popup__button  {
    width: 338px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
  }
}

@media screen and (max-width:760px) {
  .popup__button  {
    width: 238px;
  }
}
