.register__button {
  width: 358px;
  height: 50px;
  padding: 0;
  border: 0;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 216px;
}

.register__button:hover {
  opacity: 0.8;
}

@media screen and (max-width:600px) {
  .register__button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 40px auto;
  }
}
