.footer {
  width: calc(100% - 2*200px);
  margin: 67px auto 60px auto;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

@media screen and (max-width: 660px) {
  .footer {
    width: calc(100% - 2*70px);
  }
}

@media screen and (max-width: 460px) {
  .footer {
    width: calc(100% - 2*19px);
    margin: 55px auto 36px 19px;
  }
}